{% extends "auctions/layout.html" %}

{% block title %}
    Bid Negociation

{% endblock %}

{% block body %}

<h2 style="text-align: center;">Bid´s Detail for: {{Btitle}} , {{user.username}}  </h2>
<h4 style="color:red;"> {{message}}</h4>
<hr>

<div class ="flex-container" style="text-align: center;">
    <div class="container" style="width:90%;">
        <div class="row"  width="1700px">
          {%for L in L_data %}
              <div class="col-lg-3">
                     <br>
                     <h3>{{L.Ltitle }}</h3>
                     <img src=" {{L.Limage.url}} "  width="200">
                     <br>
              </div>
              <br>
              <div class="col-lg-5">
              <br>
                     <h5>Auction Start Date  </h5>
                     <p>{{ L.Ldatestart }}</p>
                     <h5>Auction End Date  </h5>
                     <p>{{ L.Lduration }} Days</p>
                     <h5>Initial Price </h5>
                     <p> {{ L.Lprice |floatformat:2 }}</p>
                     <h5>Status</h5>
                     <p>{{ L.Lstatus }}</p>

              </div>
              <div class="col-lg-2">
                      <br>
                      <h5>Seller</h5>
                      <p>{{ L.Luser }}</p>
                      <br>
                      <h5>Description</h5>
                      <p>{{ L.Ldescription }}</p>
              </div>
              <div class="col-lg-2" style="border:double;border-color:#004d00 ;">
                <br>  <br>  <br>  <br>
                 {% if Status == "Sold" %}
                    <h5> Sold To: </h5>
                    <p>  {{Winner}} </p>
                    <p>  {{BestOffer|floatformat:2}} </p>
                    {% if Winner == user.username %}
                       <h3 style="background-color:#004d00;color:#e6ffe6 ;">   Congrats! you won the aution  </h3>
                    {%endif%}
                 {% else %}
                    <h5> Who is Winning? </h5>
                    <p>  {{Winner}} </p>
                    <p>  {{BestOffer|floatformat:2}} </p>

                {% endif %}
                  <br>
                  <br>
          {%endfor%}
        </div>
        <hr>
      </div>

    <hr>
    </div>


  <div class="container" style="border:#004d00; width:90%">
    <form action="{% url 'auctions:BidsDetail' Btitle %}" method="post">{% csrf_token %}
          <!--BID-->
        <div class="row"  width="1700px">
            <div class="col-lg-4" style=" border: 4px dotted #004d00 ;">
               <form class="form-control"  method="post" >{% csrf_token %}
                        <h5> Actual Bids </h5>
                  {% if B_data|length > 0 %}
                      {%for B in B_data %}
                          <p style='text-align: left;'>Date : {{B.Bdate |date:"Y-m-d"}} - User: {{B.Buser}}</p>
                          <p style='text-align: left;'>Offer: {{B.Bprice |floatformat:2 }}   </p>
                      {% endfor %}
                  {%else%}
                      <h5>This Listing doesn´t have Bids Yet </h5>
                  {%endif%}
                  <p style='color:red;'>{{msgbids}}</p>
                  <br>
                    <b >  {{ BidForm }}  </b>
                    <br>
                    <p>{{ msgbids }}</p>
                    <input type="hidden" class="form-control" id="User" name="User" value={{user.username}}>
                  {%if Status != "Sold" %}
                    <br>
                    <button type="Submit" name="SubmitBid">Send your Offer</button>
                  {%endif%}
                </form>
            </div>

            <!--COMMENTS-->
            <div class="col-lg-4"   >
                <form class="form-control" method="post" style="border: 4px solid #004d00 ;">{% csrf_token %}
                <h5  > Leave your Comment </h5>
                {%if C_data|length > 0 %}
                    {%for C in C_data %}
                       <p style='text-align: left;'> {{C.Cdate}} - <b>{{C.Cuser}}</b>-{{C.Ccomment}}</p>
                    {%endfor%}
                {%else%}
                      <h5>This listing doesn´t have any comments yet </h5>
                {%endif%}

                   <b>   {{ CommentForm}}   </b>
                   <br>
                   <input type="hidden" class="form-control" id="User" name="User" value={{user.username}}>
                {%if Status != "Sold" %}
                   <button type="Submit" name="SubmitComment">Send your comment</button>
                {% endif %}
                </form>
            </div>

            <!--CHANGE STATUS-->
            <div class="col-lg-4" style=" border: 4px dotted #004d00 ;">
                <form class="form-control" method="post" >{% csrf_token %}
                    {% for L in L_data %}
                        {% if user.username == L.Luser  %}
                           <h5>Do You Want to change status?</h5>
                           <p> {{ChangeStatusForm}} </p>
                        {% endif %}
                   {% endfor %}
                </form>

                <br>
                <!--WATCH LIST-->
                <form  class="form-control" >
                  {% csrf_token %}
                  <br>
                      <h5>Add to Whatchlist?</h5>
                      {% if W_data|length > 0 %}
                             {% for W in W_data %}
                                 {% if W.user == user.username %}
                                     <br>
                                     <button style="font-size:20px; " id="Removewatch" name="Removewatch" value="0">
                                         Remove from Watch?<i class="fa fa-shopping-cart"></i></button>
                                 {% endif %}
                             {% endfor %}
                         {% else %}
                               <br>
                               <button style="font-size:20px background-color:green" id="Addwatch" name="Addwatch" value="1">
                                Add to Watch<i class="fa fa-shopping-cart"></i></button>
                         {% endif %}


                         <br>
                </form>
            </div>
        </div>
    </form>
  </div>





</div>
{% endblock %}
