{% extends "auctions/layout.html" %}

{% block title %}
    Bid Negociation

{% endblock %}

{% block body %}
{% csrf_token %}
<h2>Bid´s Detail for: {{Btitle}}  </h2>



<p>{{message}}</p>
<div class ="flex-container" >
  {% csrf_token %}
      <div class="container" style="border:#004d00; width:90%">
          <div class="row"  width="1700px">
          {%for L in L_data %}
                <div class="col-lg-2">
                   <br>
                   <h5>Status</h5>
                   <p>{{ L.Lstatus }}</p>
                   <br>
                   <h5>Seller</h5>
                   <p>{{ L.Luser }}</p>
                   <h5>Category</h5>
                   <p>{{ C_description }}</p>
                </div>
                <div class="col-lg-4">
                    <br>
                    <h3>{{L.Ltitle }}</h3>
                    <img src=" {{L.Limage.url}} "  width="200">
                    <br>
                </div>
                <br>
                <div class="col-lg-4">
                <br>
                    <h5>Auction Start Date  </h5>
                    <p>{{ L.Ldatestart }}</p>
                    <h5>Auction End Date  </h5>
                    <p>{{ L.Lduration }}</p>
                    <h5>Initial Price </h5>
                    <p> {{ L.Lprice }}</p>

                </div>
                <div class="col-lg-2">
                   <h5>Description</h5>
                   <p>{{ L.Ldescription }}</p>
                </div>
          {%endfor%}
          </div>
      <hr>
      </div>












     <p>{{B_data}}</p>

     <p>{{W_data}}</p>








    <form action= "{% url 'auctions:BidsDetail' Btitle  %}" method="post" >


        {% if L_data|length > 0 and B_data > 0  %}

            <div class="container" style="border:#004d00; width:90%">
                <div class="row"  width="1700px">
                    <div class="col-lg-3">
                        {{message_watchmark}}
                        <h5>Add to Whatchlist?</h5>
                        <input type="checkbox" id="Wflag" name="Wflag">

                         <br><br>
                        {%if user.username == L.Luser  %}
                            <p>Do you want to change Status</p>
                            <p> {{user.username}} ?</p>
                            <label for="Lstatus"><b>Status : </b>
                            <select name="Lstatus" id="Lstatus" name="Lstatus" >
                               <option value="Active"  >Active   - Bids Open</option>
                               <option value="To Begin">To Begin - About to Start Auciton</option>
                               <option value="Closed"  >Closed   - Give up and close Aution</option>
                               <option value="Sold"    >Sold    - I got lucky, it is SOLD!</option>
                            </select></label>
                        {%endif%}
                    </div>
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>

        {%endif%}
    </form>
</div>


{% endblock %}
