{% extends "auctions/layout.html" %}

{% block title %}
    Categories

{% endblock %}

{% block body %}


<p> {{message}}</p>



<div class="form-group">
      {% if Categories|length > 0 %}
	        <div class="container" style="width:90%">
		          <div class="row" width="1000px;">
                  <div class="col-lg-4" style="position:relative; top:50px">
                      <h3>Choose a category</h3>
                      <h3>to see available itens:</h3>
                  </div>
                <div class="col-lg-4" >
                    {% csrf_token %}
                        <ul>
					              {% for Category in Categories %}
                            <h4><li style="background-color:#004d00 ;color:#e6ffe6; text-align: center; position:relative; top:30px">
                                    <a href= "{% url 'auctions:CategoryShow' Category.id  %}" >{{ Category.id }} {{ Category.Cdescription }}
                                </a>  </li>  <h4>

				                {% endfor %}
                        </ul>
                  </div>
                  <div class="col-lg-4">
                  </div>
			        </div
          </div>

        {% else %}
	         	<div class="form-group">
		          	<output><h1>No matches found</h1></output>
	        	</div>
	      {% endif %}

</div>




{% endblock %}
