{% extends "auctions/layout.html" %}

{% block title %}
    See all items Available

{% endblock %}

{% block body %}

<h2>See all items Available:</<h2>
<p> {{message}}</p>



<div class="form-group">
  	<form action= "{% url 'Categories' %}" method="post" >
        {% csrf_token %}
        {% if Category and Categories|length > 0 %}
	         	<div class="form-group">
		          	<table class="table">
			        	<thead>
				      	<tr>
					     	<th scope="col">Code </th>
      		      <th scope="col">Description </th>
						    </tr>
				        </thead>

				        {% for Category in Categories %}
				             	<tr>
					          	<td>{{ List.Pcode }}</td>
						          <td>{{ List.description }}</td>

				              </tr>
				        {% endfor %}
			         </table>
            </div>

        {% else %}
	         	<div class="form-group">
		          	<output>No matches found</output>
	        	</div>
	{% endif %}
	</form>
</div>







{% endblock %}
