{% extends "auctions/layout.html" %}

{% block title %}
    New Auction List

{% endblock %}

{% block body %}
<h2> Create a New List</h2>
<p>{{message}}<p>
<div class ="flex-container" style="border-style: solid; border-color :#e6ffe6;  width: 80%; grid-column-gap: 50px;">
    <form  action= "{% url 'auctions:CreateListings' %}" method="post"" >

        {% csrf_token %}
        {{ form }}
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
                <label for="Ltitle" style="column-gap: 40px;"><b>Title for the auction item :</b>
                <input type="text" class="form-inline" id="Ltitle" name="Ltitle"></label>
            </div>
            <div class="col-sm-4">
                <label for="Lprice" style="column-gap: 40px;"><b>Start Price :</b>
                <input type="text" class="form-inline" id="Lprice" name="Lprice" ></label>
            </div>
            <div class="col-sm-4">
                <label for="Ccode" style="column-gap: 40px;"><b>Select the Category:</b>
                  <select  class="form-inline" id="Ccode" name="Ccode">
                    <option   value="None  ">None
                      {% for Category in Categories %}
                          <option value={{Category.object.id}}>  {{ Category.id }} - {{ Category.Cdescription }}</option>
                      {% endfor %}
                  </select>
                </label>
            </div>
          </div>
        </div>
        <br>
        <label for="Ldescription"><b>Describe de Item do be sold :</b></label>
        <textarea  type="text" class="form-inline"   id="Ldescription" name="Ldescription" rows="6" cols="100" required ></textarea>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
                <label for="Ldatestart"><b>Date for Auction starts :</b>
                <input type="text" class="form-inline" id="Ldatestart" name="Ldatestart">{{Date}}</label>
            </div>
            <div class="col-sm-4">
                <label for="Lduration"><b>How many days the auction will be vallid?</b>
                <input type="text" class="form-inline" id="Lduration" name="Lduration"></label>
            </div>
            <div class="col-sm-4">
                <label for="Luser"><b>Advertiser user :</b>
                <input type="text" class="form-inline"  id="Luser" name="Luser"></label>
            </div>
          </div>
        </div>
        <br>


        <label for="Lstatus"><b>Status :</b>
        <select name="Lstatus" id="Lstatus" name="Lstatus">
            <option value="A">Active </option>
            <option value="B">To Begin </option>
            <option value="C">Closed </option>
            <option value="S">Sold </option>
        </select></label>
           <br>
        <p><b>Click on the "Choose File" button to upload a file:</b></p>
            <form action="#" style="border :#e6ffe6;">
                  <input type="file" id="Limage" name="Limage">
                  <input type="submit" >Upload
            </form>
        <br>


        <form class="form-inline" style="position:relative; top:100px">
             <button type="submit" class="btn btn-success">Save</button>
             <button type="button" class="btn btn-danger"><a href="{% url 'auctions:index' %}">Cancel</button>
        </form>

    </form>
</div>
{% endblock %}
