{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Active Listings</h2>
    <p> {{message}}</p>

    <div class="form-group">
      	<form >
            {% csrf_token %}
            {% if ActiveListings|length > 0 %}
    	         	<div class="form-group">
    		          	<table class="table">
    			           	<thead>
    				           	<tr>
                      	<th scope="col">Title</th>
    					        	<th scope="col">dateStart  </th>
                        <th scope="col">Description </th>
    						        <th scope="col">Initial Price </th>
                        <th scope="col">Image </th>
    					         </tr>
    				        </thead>

    				        {% for Active in ActiveListings %}
                        {%if Active.Lstatus == "A"%}
    				                <tr>
                           	<td>{{ Active.Ltitle }}</td>
                            <td>{{ Active.Ldatestart }}</td>
    						            <td>{{ Active.Ldescription }}</td>
                            <td>{{ Active.Lprice }}</td>
    						            <td><<img src="{{ Active.image }}" width="300"></td>
                            <td></td>
    				                </tr>
                        {%endif%}
    				        {% endfor %}
    			         </table>
                </div>

            {% else %}
    	         	<div class="form-group">
    		          	<output>No matches found</output>
    	        	</div>
    	{% endif %}
    	</form>
    </div>





{% endblock %}
