{% extends "auctions/layout.html" %}

{% block body %}
  <h2 style=" text-align: center;">Active Listings</h2>
  <h4 style="color:red;"> {{message}}</h4>
  <hr>
  <div class="BackImage">
    <div class="form-group" >
      <form >
          {% csrf_token %}
          {% if ActiveListings|length > 0 %}
              {% for Active in ActiveListings %}
                    {%if Active.Lstatus == "Active"%}

                        <div class="container" style="border:#004d00; width:90%">
                            <div class="row"  width="1700px">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-4">
                                    <h3>{{ Active.Ltitle }}</h3>
    		                            <img src=" {{Active.Limage.url}} "  width="200">
                                    <br>
                                </div>
                                <div class="col-lg-4">
                                  <br>
                                  <h5>Auction Start Date  </h5>
                                  <p>{{ Active.Ldatestart }}</p>
                                    <h5>Initial Price </h5>
                                    <p> {{ Active.Lprice }}</p>

                       	          <h5>Description</h5>
    					        	          <p>{{ Active.Ldescription }}</p>
                                </div>
                                <div class="col-lg-2">
                                </div>
                            </div>
                            <hr>
                        </div>
                    {%endif%}
    				  {% endfor %}
          {% else %}
    	         	<div class="form-group">
    		          	<output>No matches found</output>
    	        	</div>
          {% endif %}
    	</form>
    </div>
</div>

{% endblock %}
