{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">

    <style>
      body{
           background-color:#e6ffe6 ;
           color:  #004d00;
        }

    </style>

    </head>
    <body>
        <div class="row">
            <div class="col-lg-3" style="background-color:#004d00;color:#e6ffe6 ;">
                <h1 style="text-align: center;">Auctions</h1>
                {% if user.is_authenticated %}
                    <p style="text-align: center;">Signed in as <strong >{{ user.username }}</strong>.</p>
                {% else %}
                    <p style="text-align: center;">Not signed in.</p>
                {% endif %}
            </div>
            <div class="col-lg-9" >
                <ul class="nav">

                <li class="nav-item"><br>
                  <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><br>
                    <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:CreateListings' %}">Create Listing</a>
                    </li>
                    <li class="nav-item"><br>
                    <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:Watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item"><br>
                    <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:Categories' %}">Categories</a>
                    </li>

                    <li class="nav-item"><br>
                    <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:Listings' %}">Listings</a>
                    </li>
                    <li class="nav-item"><br>
                    <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item"><br>
                        <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                    </li>
                    <li class="nav-item"><br>
                        <a  style="color:  #004d00;" class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                    </li>
                {% endif %}
                    <li></li>
                    <li>   {{d}} </li>
                </ul>
            </div>
        </div>
      <hr>


      {% block body %}
      {% endblock %}
    </body>
</html>
