{% extends "auctions/layout.html" %}

{% block title %}
    Listing Page

{% endblock %}

{% block body %}
<h2>Listing Page the Bid´s Point</h2>

<p> {{message}}</p>
<hr>
<div class="form-group">
  <form >
      {% csrf_token %}
      {% if Listings|length > 0 %}
          {% for L in Listings %}
              <div class="container" style="border:#004d00; width:90%">
                  <div class="row"  width="1700px">
                      <div class="col-lg-3">
                            <h2>{{  L.Ltitle }}</h2>
                            <br>
                            <img src=" {{L.Limage.url}} "  width="200">
                            <br>
                      </div>
                      <div class="col-lg-6" >
                          <br><br>
                          <h5>Auction Start Date  </h5>
                          <p>{{  L.Ldatestart }}</p>
                          <h5>Initial Price </h5>
                          <p> {{  L.Lprice }}</p>

                          <h5>Description</h5>
                          <p>{{  L.Ldescription }}</p>
                          <h5>Seller:</h5>
                          <p>{{  L.Luser }}</p>
                      </div>
                      <div class="col-lg-3" >
                      <br>
                      <h5>Status</h5>
                      <h4 style="background-color:#004d00; color:#e6ffe6 ; align:center;">{{  L.Lstatus}}
                      </h4>
                      <br>
                      <br>
                      <br>
                          <p style="color:  #004d00; border:double;" >
                          <a href="{% url 'auctions:BidsDetail' Btitle=L.Ltitle%}" >
                          <h4>Go for Bid Details of listing:  {{  L.Ltitle }}</h4></a>
                          </p>

                      </div>
                  </div>  
              </div>
              <hr>


          {% endfor %}
      {% else %}
            <div class="form-group">
                <output>No matches found</output>
            </div>
      {% endif %}
  </form>
</div>


{% endblock %}
