{% extends "auctions/layout.html" %}

{% block title %}
    See all items Available

{% endblock %}

{% block body %}

<p> {{message}}</p>

<div class="form-group">
  	<form action= "{% url 'Listings' %}" method="post" >
        {% csrf_token %}
        {% if Listings|length > 0 %}
	         	<div class="form-group">
		          	<table class="table">
			           	<thead>
				           	<tr>
					        	<th scope="col">Code </th>
      		        	<th scope="col">Category</th>
					        	<th scope="col">Price  </th>
                    <th scope="col">Description </th>
						        <th scope="col">Picture </th>
					         </tr>
				        </thead>

				        {% for List in Listings %}
				            <tr>
					          	<td>{{ List.Pcode }}</td>
						          <td>{{ List.Ccode }}</td>
						          <td>{{ List.price }}</td>
                      <td>{{ List.description }}</td>
                      <td><img src={{ List.picture }}  class="img-responsive center-block"></td>
				            </tr>
				        {% endfor %}
			         </table>
            </div>

        {% else %}
	         	<div class="form-group">
		          	<output>No matches found</output>
	        	</div>
	{% endif %}
	</form>
</div>







{% endblock %}
