{% extends "auctions/layout.html" %}

{% block body %}

    <h2 style="text-align: center;">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions:login' %}" method="post" >
        {% csrf_token %}
        <div class ="flex-container" style="text-align: center;">
            <br>
            <div class="form-group" style="margin:auto; width: 60%;" >
                <input  autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <br>
            <div class="form-group" style="margin:auto; width: 60%;" >
                <input  class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <br>
            <div class="center" style="align-items: center;" >
                <input class="btn btn-primary" type="submit"  value="Login">     Don't have an account?
                <a  href="{% url 'auctions:register' %}">Register here.</a>
             </div>
        </div>
    </form>


{% endblock %}
