{% extends "auctions/layout.html" %}

{% block body %}

    <h2 style="text-align: center;">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions:login' %}" method="post" >
        {% csrf_token %}
        <div class="form-group" >
            <input  autofocus class="form-control" type="text" style="margin: auto; width:60%"  name="username" placeholder="Username">
        </div>
        <div class="form-group" >
            <input  class="form-control" type="password" style="margin: auto; width:60%"  name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" style="margin: auto; width:20%"  value="Login">
    </form>

    <p style="text-align: center;">Don't have an account? <a style="margin: auto;" href="{% url 'auctions:register' %}">Register here.</a>

{% endblock %}
