{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist for {{user.username}}

{% endblock %}

{% block body %}

<p> {{message}}</p>



<form action ="{% url 'auctions:Watchlist' %}">
  {% csrf_token %}
   	<div class="form-group" >

        <table class="table" width=50%>
            <thead>
		      	    <tr>
                <th scope="col">Auction Title </th>
                <th scope="col">Status </th>
      	        </tr>
		        </thead>

            {% if Wishlists|length > 0  %}

	              {% for W in Wishlists %}
                  {%if user.username == W.user%}
                      <tr>
                      <td><a href="{% url 'auctions:BidsDetail' Btitle = W.Lcode.Ltitle%}">  {{W.Lcode.Ltitle}} </a> </td>
                      <td>  {{W.Lcode.Lstatus}} </td>

                      </tr>

                  {%endif%}
                {% endfor %}
            {% else %}
                 	<div class="form-group">
                      	<output><h1>No matches found for your Whatchlist   {{user.username}} </h1></output>
                        <input type="hidden" id="u" name="username" value={{user.username}}>
                	</div>
            {% endif %}


	      </table>
    </div>
</form>

{% endblock %}
